<div class="ui grid">
  <div class="fourteen wide centered column">
    <div class="ui grid">
      <div class="twelve wide column">
        <div class="ui segment left-side">
          <h2 class="ui center aligned header">Available pets from the SPCA</h2>

          <div class="ui floating dropdown labeled icon button">
            <i class="filter icon"></i>
            <span class="text">Filter Animals</span>
            <div class="menu">
              <div class="ui icon search input">
                <i class="search icon"></i>
                <input type="text" name="search" placeholder="Search animals...">
              </div>
              <div class="divider"></div>
              <div class="header">
                <i class="tags icon"></i>
                Header
              </div>
              <div class="item">
                <div class="ui red empty circular label"></div>
                Dogs
              </div>
              <div class="item">
                <div class="ui blue empty circular label"></div>
                Cats
              </div>
            </div>
          </div>

          <div class="ui four special cards">
            <% @animals.each do |animal| %>
              <div class="card" data-id="<%= animal.id %>">
                <div class="dimmable image">
                  <div class="ui dimmer"> <!-- lessen the opacity here with css override -->
                    <div class="content">
                      <div class="center">
                        <div class="ui inverted button">Preview me!</div>
                      </div>
                    </div>
                  </div>
                  <%= image_tag(animal.image_url) %>
                </div>
                <div class="content">
                  <div class="header"><%= animal.name %></div>
                  <div class="meta">
                    <a class="group"><%= animal.gender %></a>
                  </div>
                </div>
              </div>
            <% end %>

          </div>

        </div>
      </div>

      <div class="four wide column">
        <div class="sticky-content">
          <h2 class="ui top attached center aligned header">FEATURED</h2>
          <div class="ui  attached segment right-side">
            <div class="ui fluid card">
              <div class="image">
                <%= image_tag(@first_animal.image_url) %>
              </div>
              <div class="content">
                <a class="right floated created">
                  <div class="ui teal button">ADOPT ME!</div>
                </a>
                <h5 class="header"><%= @first_animal.name %></h5>
                <div class="meta">
                  <p class="group"><%= @first_animal.gender %></p>
                  <p class="group">AGE: <%= @first_animal.age %></p>
                </div>
                <div class="description">
                  <%= @first_animal.story %>
                </div>
              </div>
              <div class="extra content">
                <span class="right floated created">
                  SPCA ID: <%= @first_animal.spca_id %>
                </span>
                <span class="friends">
                  <i class="user icon"></i>
                  <%= @first_animal.weight %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script charset="utf-8" id="detail-card-template" type="text/x-handlebars-template">
  <div class="ui fluid card">
    <div class="image">
      <img src="{{image_url}}">
    </div>
    <div class="content">
      <a class="right floated created">
        <div class="ui teal button">ADOPT ME!</div>
      </a>
      <h5 class="header">{{name}}</h5>
      <div class="meta">
        <p class="group">{{gender}}</p>
        <p class="group">AGE: {{age}}</p>
      </div>
      <div class="description">
        {{story}}
      </div>
    </div>
    <div class="extra content">
      <span class="right floated created">
        SPCA ID: {{spcaid}}
      </span>
      <span class="friends">
        {{weight}}
      </span>
    </div>
  </div>
</script>

<script charset="utf-8" id="adoption-form-template" type="text/x-handlebars-template">
  <div class="ui large breadcrumb">
    <a class="section" id="back-to-animals"><i class="long arrow left icon"></i>Back to animals list</a>
  </div>
  <h2 class="ui center aligned header">Adopt me!</h2>
  <%= form_for @application, format: :json, html: {class: "ui form"} do |f| %>

      <div class="ui negative message" id="form-error">
        <ul>
          <% if @application.errors.any? %>
            <% @application.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          <% end %>
        </ul>
      </div>

    <h4 class="ui dividing header">Personal Information</h4>
    <div class="two fields">
      <div class="field">
        <%= f.label "Full name" %>
        <div class="field">
          <%= f.text_field :fullname, placeholder: "Name" %>
        </div>
      </div>
      <div class="field">
        <%= f.label "Email" %>
        <div class="field">
          <%= f.email_field :email, value: current_user.email %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.label "Phone" %>
      <div class="field">
        <%= f.text_field :phone_number, placeholder: "Phone number" %>
      </div>
    </div>
    <%= f.label "Address" %>
    <div class="four fields">
      <div class="field">
        <div class="field">
          <%= f.text_field :address, placeholder: "Street" %>
        </div>
      </div>
      <div class="field">
        <div class="field">
          <%= f.text_field :city, placeholder: "City" %>
        </div>
      </div>
      <div class="field">
        <div class="field">
          <%= f.text_field :state, placeholder: "State" %>
        </div>
      </div>
      <div class="field">
        <div class="field">
          <%= f.text_field :zipcode, placeholder: "Zipcode" %>
        </div>
      </div>
    </div>
    <h4 class="ui dividing header">Home Information</h4>
    <div class="two fields">
      <div class="field">
        <%= f.label "Do you own or rent?" %>
        <div class="field">
          <%= f.text_field :housing %>
        </div>
      </div>
      <div class="field">
        <%= f.label "If you rent, do you have your landlord's approval?" %>
        <div class="field">
          <%= f.text_field :landlord_approval %>
        </div>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <%= f.label "Landlord's name" %>
        <div class="field">
          <%= f.text_field :landlord_name %>
        </div>
      </div>
      <div class="field">
        <%= f.label "Landlord's phone" %>
        <div class="field">
          <%= f.text_field :landlord_phone %>
        </div>
      </div>
    </div>
    <h4 class="ui dividing header">Other</h4>
    <div class="field">
      <%= f.label "What are your daily habits? Are you out all day, out part of the day, home all day?" %>
      <%= f.text_area :habits %>
    </div>
    <div class="field">
      <%= f.label "Please describe your pet history - type of animal, how long you had them, etc." %>
      <%= f.text_area :pet_history %>
    </div>
    <div class="field">
      <%= f.label "Who is your current vet?" %>
      <%= f.text_field :current_vet %>
    </div>
    <div class="two fields">
      <div class="field">
        <%= f.label "How much per year do you expect to spend on your new pet?" %>
        <div class="field">
          <%= f.text_field :expected_costs %>
        </div>
      </div>
      <div class="field">
        <%= f.label "Do you plan to keep your new pet indoors, outdoors, both?" %>
        <div class="field">
          <%= f.text_field :indoor_outdoor %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.label "How did you learn about us?" %>
      <div class="field">
        <%= f.text_field :how_learn %>
      </div>
    </div>
    <h4 class="ui dividing header">Adoptee information</h4>
    <div class="field">
      <h5>You are applying to adopt:</h5>
      <p>{{animal}}</p>
      <p>{{spca_id}}</p>
    </div>
    <h4 class="ui dividing header">Signature</h4>
    <div class="two fields">
      <div class="field">
        <%= f.label "Electronic signature:" %>
        <div class="field">
          <%= f.text_field :electronic_signature %>
        </div>
      </div>
      <div class="field">
        <%= f.label "Today's date:" %>
        <div class="field">
          <%= f.text_field :date %>
        </div>
      </div>
    </div>

    <div id="user-id"><%= current_user.id %></div>

    <%= f.submit "Submit", class: "ui submit button" %>
  <% end %>
</script>
