<div class="ui grid">
  <div class="fourteen wide centered column">
    <div class="ui grid">
      <div class="ten wide column">
        <div class="ui segment left-side">
          <h2 class="ui center aligned header">Available pets from the SPCA</h2>

          <div class="ui floating dropdown labeled icon button">
            <i class="filter icon"></i>
            <span class="text">Filter Animals</span>
            <div class="menu">
              <div class="ui icon search input">
                <i class="search icon"></i>
                <input type="text" name="search" placeholder="Search animals...">
              </div>
              <div class="divider"></div>
              <div class="header">
                <i class="tags icon"></i>
                Header
              </div>
              <div class="item">
                <div class="ui red empty circular label"></div>
                Dogs
              </div>
              <div class="item">
                <div class="ui blue empty circular label"></div>
                Cats
              </div>
            </div>
          </div>

          <div class="ui special cards">
            <% @animals.each do |animal| %>
              <div class="card" data-id="<%= animal.id %>">
                <div class="dimmable image">
                  <div class="ui dimmer"> <!-- lessen the opacity here with css override -->
                    <div class="content">
                      <div class="center">
                        <div class="ui inverted button">Learn more</div>
                      </div>
                    </div>
                  </div>
                  <%= image_tag(animal.image_url) %>
                </div>
                <div class="content">
                  <div class="header"><%= animal.name %></div>
                  <div class="meta">
                    <a class="group"><%= animal.gender %></a>
                  </div>
                </div>
              </div>
            <% end %>

          </div>

        </div>
      </div>
      <div class="six wide column">
        <h2 class="ui top attached center aligned header">FEATURED</h2>
        <div class="ui  attached segment right-side">
          <div class="ui fluid card">
            <div class="image">
              <%= image_tag(@animal.image_url) %>
            </div>
            <div class="content">
              <a class="right floated created">
                <div class="ui teal button">ADOPT ME!</div>
              </a>
              <a class="header"><%= @animal.name %></a>
              <div class="meta">
                <p class="group"><%= @animal.gender %></p>
                <p class="group">AGE: <%= @animal.age %></p>
              </div>
              <div class="description">
                <%= @animal.story %>
              </div>
            </div>
            <div class="extra content">
              <a class="right floated created">
                SPCA ID: <%= @animal.spca_id %>
              </a>
              <a class="friends">
                <i class="user icon"></i>
                <%= @animal.weight %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
