<div class="ui grid">
  <div class="fourteen wide centered column">
    <div class="ui grid">
      <div class="ten wide column">
        <div class="ui segment left-side">
          <h2 class="ui center aligned header">Available pets from the SPCA</h2>

          <div class="ui special cards">

            <% @animals.each do |animal| %>
              <div class="card" data-id="<%= animal.id %>">
                <div class="dimmable image">
                  <div class="ui dimmer"> <!-- lessen the opacity here with css override -->
                    <div class="content">
                      <div class="center">
                        <div class="ui inverted button">Learn more</div>
                      </div>
                    </div>
                  </div>
                  <%= image_tag(animal.image_url) %>
                </div>
                <div class="content">
                  <div class="header"><%= animal.name %></div>
                  <div class="meta">
                    <a class="group"><%= animal.gender %></a>
                  </div>
                </div>
              </div>
            <% end %>

          </div>

        </div>
      </div>
      <div class="six wide column">
        <div class="ui segment right-side">
          <h2 class="ui center aligned header">FEATURED</h2>
          <div class="ui fluid card">
            <div class="image">
              <%= image_tag("kitten.jpg") %>
            </div>
            <div class="content">
              <a class="right floated created">
                <div class="ui teal button">ADOPT ME!</div>
              </a>
              <a class="header">Name</a>
              <div class="meta">
                <p class="group">Gender</p>
                <p class="group">Weight</p>
              </div>
              <div class="description">
                Story goes here.
              </div>
            </div>
            <div class="extra content">
              <a class="right floated created">
                SPCA ID#
              </a>
              <a class="friends">
                <i class="user icon"></i>
                Age
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
