<div class="ui grid">
  <div class="fourteen wide centered column">
    <div class="ui grid">
      <div class="twelve wide column">
        <div class="ui segment left-side">
          <h2 class="ui center aligned header">Available pets from the SPCA</h2>

          <div class="ui floating dropdown labeled icon button">
            <i class="filter icon"></i>
            <span class="text">Filter Animals</span>
            <div class="menu">
              <div class="ui icon search input">
                <i class="search icon"></i>
                <input type="text" name="search" placeholder="Search animals...">
              </div>
              <div class="divider"></div>
              <div class="header">
                <i class="tags icon"></i>
                Header
              </div>
              <div class="item">
                <div class="ui red empty circular label"></div>
                Dogs
              </div>
              <div class="item">
                <div class="ui blue empty circular label"></div>
                Cats
              </div>
            </div>
          </div>

          <div class="ui four special cards">
            <% @animals.each do |animal| %>
              <div class="card" data-id="<%= animal.id %>">
                <div class="dimmable image">
                  <div class="ui dimmer"> <!-- lessen the opacity here with css override -->
                    <div class="content">
                      <div class="center">
                        <div class="ui inverted button">Preview me!</div>
                      </div>
                    </div>
                  </div>
                  <%= image_tag(animal.image_url) %>
                </div>
                <div class="content">
                  <div class="header"><%= animal.name %></div>
                  <div class="meta">
                    <a class="group"><%= animal.gender %></a>
                  </div>
                </div>
              </div>
            <% end %>

          </div>

        </div>
      </div>

      <div class="four wide column">
        <div class="ui sticky">
          <h2 class="ui top attached center aligned header">FEATURED</h2>
          <div class="ui  attached segment right-side">
            <div class="ui fluid card">
              <div class="image">
                <%= image_tag(@animal.image_url) %>
              </div>
              <div class="content">
                <a class="right floated created">
                  <div class="ui teal button">ADOPT ME!</div>
                </a>
                <a class="header"><%= @animal.name %></a>
                <div class="meta">
                  <p class="group"><%= @animal.gender %></p>
                  <p class="group">AGE: <%= @animal.age %></p>
                </div>
                <div class="description">
                  <%= @animal.story %>
                </div>
              </div>
              <div class="extra content">
                <a class="right floated created">
                  SPCA ID: <%= @animal.spca_id %>
                </a>
                <a class="friends">
                  <i class="user icon"></i>
                  <%= @animal.weight %>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script charset="utf-8" id="detail-card-template" type="text/x-handlebars-template">
  <div class="ui fluid card">
    <div class="image">
      <img src="{{image_url}}">
    </div>
    <div class="content">
      <a class="right floated created">
        <div class="ui teal button">ADOPT ME!</div>
      </a>
      <a class="header">{{name}}</a>
      <div class="meta">
        <p class="group">{{gender}}</p>
        <p class="group">AGE: {{age}}</p>
      </div>
      <div class="description">
        {{story}}
      </div>
    </div>
    <div class="extra content">
      <a class="right floated created">
        SPCA ID: {{spcaid}}
      </a>
      <a class="friends">
        {{weight}}
      </a>
    </div>
  </div>
</script>

<script charset="utf-8" id="adoption-form-template" type="text/x-handlebars-template">
  <div class="ui large breadcrumb">
    <a class="section" id="back-to-animals"><i class="long arrow left icon"></i>Back to animals list</a>
  </div>
  <h2 class="ui center aligned header">Adopt me!</h2>
  <form class="ui form">
    <h4 class="ui dividing header">Personal Information</h4>
    <div class="two fields">
      <div class="field">
        <label>Full name</label>
        <div class="field">
          <input type="text" name="fullname" placeholder="Name">
        </div>
      </div>
      <div class="field">
        <label>Email</label>
        <div class="field">
          <input type="email" name="email" placeholder="Email">
        </div>
      </div>
    </div>
    <div class="field">
      <label>Phone</label>
      <div class="field">
        <input type="text" name="phone" placeholder="Phone number">
      </div>
    </div>
    <label>Address</label>
    <div class="four fields">
      <div class="field">
        <div class="field">
          <input type="text" name="address" placeholder="Street">
        </div>
      </div>
      <div class="field">
        <div class="field">
          <input type="text" name="city" placeholder="City">
        </div>
      </div>
      <div class="field">
        <div class="field">
          <input type="text" name="state" placeholder="State">
        </div>
      </div>
      <div class="field">
        <div class="field">
          <input type="text" name="zip" placeholder="Zipcode">
        </div>
      </div>
    </div>
    <h4 class="ui dividing header">Home Information</h4>
    <div class="two fields">
      <div class="field">
        <label>Do you own or rent?</label>
        <div class="field">
          <input type="text" name="housing">
        </div>
      </div>
      <div class="field">
        <label>If you rent, do you have your landlord's approval?</label>
        <div class="field">
          <input type="text" name="landlord_approval">
        </div>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Landlord's name:</label>
        <div class="field">
          <input type="text" name="landlord_name">
        </div>
      </div>
      <div class="field">
        <label>Landlord's phone:</label>
        <div class="field">
          <input type="text" name="landlord_phone">
        </div>
      </div>
    </div>
    <h4 class="ui dividing header">Other</h4>
    <div class="field">
      <label>What are your daily habits? Are you out all day, out part of the day, home all day?</label>
      <textarea></textarea>
    </div>
    <div class="field">
      <label>Please describe your pet history - type of animal, how long you had them, etc.</label>
      <textarea></textarea>
    </div>
    <div class="field">
      <label>Who is your current vet?</label>
      <input type="text" name="current_vet">
    </div>
    <div class="two fields">
      <div class="field">
        <label>How much per year do you expect to spend on your new pet?</label>
        <div class="field">
          <input type="text" name="expected_costs">
        </div>
      </div>
      <div class="field">
        <label>Do you plan to keep your new pet indoors, outdoors, both?</label>
        <div class="field">
          <input type="text" name="indoor_outdoor">
        </div>
      </div>
    </div>
    <div class="field">
      <label>How did you learn about us?</label>
      <div class="field">
        <input type="text" name="how_learn">
      </div>
    </div>
    <h4 class="ui dividing header">Pet information</h4>
    <div class="two fields">
      <div class="field">
        <label>Name of animal you wish to adopt:</label>
        <div class="field">
          <input type="text" name="animal_name">
        </div>
      </div>
      <div class="field">
        <label>SPCA ID:</label>
        <div class="field">
          <input type="text" name="spca_id">
        </div>
      </div>
    </div>
    <h4 class="ui dividing header">Signature</h4>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox">
        <label>I agree to the <a href="#">Terms of Service</a>.</label>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Electronic signature:</label>
        <div class="field">
          <input type="text" name="electronic_signature">
        </div>
      </div>
      <div class="field">
        <label>Today's date:</label>
        <div class="field">
          <input type="text" name="date">
        </div>
      </div>
    </div>
    <div class="ui submit button">Register</div>
  </form>
</script>
