<!DOCTYPE html>
<html>
<head>
  <title>AdoptionApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="ui large inverted menu">
    <div class="text item">
      <a id="page-header" href="/">San Francisco Pet Finder <i class="paw icon"></i></a>
    </div>
      <% if current_user %>
        <a class="right floated item" href="/signout" id="signout">Sign Out</a>
      <% else %>
        <a class="right floated item" href="/signup" id="signup">Register</a>
        <a class="right floated item" href="/signin" id="signin">Sign In</a>
      <% end %>
  </div>

  <% if notice %>
    <div class="ui positive message">
      <div class="header">
        <p><%= notice %></p>
      </div>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
