<!DOCTYPE html>
<html>
<head>
  <title>AdoptionApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script charset="utf-8" src="/semantic-UI/dist/semantic.min.js"></script>
  <link rel="stylesheet" href="/semantic-UI/dist/semantic.min.css" charset="utf-8">
</head>
<body>
  <div class="ui inverted segment">
    <% if current_user %>
      <div class="ui inverted button right floated">
        <%= link_to "Sign Out", signout_path %>
      </div>
      <!-- try menu -->
      <div class="ui inverted right floated">
        <span class="ui inverted right floated" id="welcome">Welcome, <%= current_user.firstname %></span>
      </div>
    <% else %>
      <div class="ui inverted button right floated">
        <%= link_to "Register", signup_path %>
      </div>
      <div class="ui inverted button right floated">
        <%= link_to "Log In", signin_path %>
      </div>
    <% end %>
    <h1>San Francisco Pet Finder <i class="paw icon"></i></h1>
  </div>

  <%= yield %>

</body>
</html>
