<!DOCTYPE html>
<html>
<head>
  <title>AdoptionApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script charset="utf-8" src="/semantic-UI/dist/semantic.min.js"></script>
  <link rel="stylesheet" href="/semantic-UI/dist/semantic.min.css" charset="utf-8">
</head>
<body>
  <div class="ui large inverted menu">
    <div class="text item">
      <a id="page-header">San Francisco Pet Finder <i class="paw icon"></i></a>
    </div>

    <!-- <div class="right menu"> -->
      <% if current_user %>
        <a class="right floated item" href="/signout">Sign Out</a>
        <a class="right floated item" id="welcome-user">Welcome, <%= current_user.firstname %></a>
      <% else %>
        <a class="right floated item" href="/signup">Register</a>
        <a class="right floated item" href="/signin">Sign In</a>
      <% end %>
    <!-- </div> -->
  </div>

  <%= yield %>

</body>
</html>
